---
import Comments from '@components/Comments.astro'
import Container from '@components/Container.astro'
import { MESSAGES } from '@consts'
import PageLayout from '@layouts/PageLayout.astro'
---

<PageLayout title={MESSAGES.TITLE} description={MESSAGES.DESCRIPTION}>
  <Container class="!max-w-3xl">
    <section class="py-4">
      <h1
        class="text-3xl font-semibold text-stone-950 sm:text-4xl dark:text-stone-50"
      >
        留言板
      </h1>
      <p
        class="mt-3 max-w-2xl leading-relaxed text-stone-600 dark:text-stone-400"
      >
        嘿，在这里留下你的足迹和想说的话吧
      </p>
    </section>

    <div class="animate mt-8">
      <h2 class="mb-5 font-medium sm:text-lg">说点什么</h2>
      <Comments slug="messages" title="留言板" variant="guestbook" />
    </div>
  </Container>
</PageLayout>
